<%-include("header")-%>

<h2 id="about">About To do list</h2>

<p ><em>This to do list helps users write notes , activities or schedule they want to carry ahead and mark whats done in it.</em></p>

<%-include("footer")-%>